body {
    padding-top: 70px;
    background-color: #CDC0B0; /*antique white3*/
}

.content {
    margin: 0 auto;
    width: 700px;
}

footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    background-color: #FFEECA; /*light adobe*/
}

.copyright {
    text-align: center;
    margin-bottom: 15px;
    bottom: 10px;
}

a.link {
    color: #5BC0DE;
}